* {
  box-sizing: border-box;

}


:root {

  --Soft-Cyan: hsl(174, 77%, 80%);
  --Strong-Cyan: hsl(174, 86%, 45%);
  --Light-Grayish: hsl(14, 92%, 95%);
  --Light-Red: hsl(15, 100%, 70%);
  --Pale-Blue: hsl(226, 100%, 87%);


  --White: hsl(0, 0%, 100%);
  --Very-Pale-Blue: hsl(230, 100%, 99%);
  --Light-Grayish-Blue: hsl(224, 65%, 95%);
  --Light-Grayish-Blue: hsl(223, 50%, 87%);
  --Grayish-Blue: hsl(225, 20%, 60%);
  --Dark-Desaturated-Blue: hsl(227, 35%, 25%);
}


body,
html {
  
  background-color: var(--Very-Pale-Blue);
  height: 90vh;
  font-family: Manrope;
  background-image: url(images/bg-pattern.svg);
  background-repeat: no-repeat;
  position: relative;

}

h1 {
  margin: 0;
}

header {
  padding: 1em;  
  max-width: 40em;
  text-align: center;


  position: absolute;
  left: 0;
  right: 0;
  margin: auto;

  top: 6em;
  z-index: 1;

}

.headerimage {

  position: absolute;
  left: 0;
  right: 0;
  margin: auto;

  top: 5em;
  z-index: 0;

}

span,
ul, p {

  color: hsl(225, 20%, 60%);

}

.container {
  max-width: 30em;
  margin: 0;
  border: none;
  border-radius: .33em;
  margin: 0 auto;
  padding: 2em;
  background-color: var(--White);
  box-shadow: 0 12px 50px var(--Light-Grayish-Blue);


  position: absolute;
  left: 0;
  right: 0;
  margin: auto;

  top: 17em;


}

.top {

  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1.5em;


}

.discount {
  border-radius: 8px;
  text-align: center;
  display: inline-block;
  padding: .25em;
  margin-left: .5em;
  color: hsl(15, 100%, 70%);
  background-color: hsl(14, 92%, 95%);
  font-size: .6rem;

  

}

.discountmobile {
  display: none;


}

.price {
  display: flex;
  align-items: center;

}

.pageviews {

  font-size: .75rem;
  letter-spacing: .15em;
  
}


/* Styling the input slider */

input[type="range"] {

  -webkit-appearance: none;
  background: transparent;
  cursor: pointer;
  width: 100%;

}


input[type="range"]::-webkit-slider-runnable-track {

  background-color: var(--Strong-Cyan);
  height: .5em;
  border-radius: 12px;

}

input[type="range"]::-moz-range-track {

  background-color: var(--Strong-Cyan);
  height: .5em;
}


input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  cursor: pointer;
  width: 2.5em;
  height: 2.5em;
  border-radius: 50%;
  background: url(images/icon-slider.svg);
  background-position: center;
  background-size: 1.25em;
  background-repeat: no-repeat;
  margin-top: -12px;
  background-color: var(--Strong-Cyan);



}

input[type="range"]::-moz-range-thumb {
  -webkit-appearance: none;
  border: none;
  appearance: none;
  cursor: pointer;
  width: 2.5em;
  height: 2.5em;
  border-radius: 50%;
  background: url(images/icon-slider.svg);
  background-position: center;
  background-size: 1.25em;
  background-repeat: no-repeat;
  margin-top: -12px;
  background-color: var(--Strong-Cyan);


}


input {

  width: 100%;
  margin-bottom: 2em;
  font-family: inherit;
}


.bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-top: solid 1px rgba(0, 0, 0, 0.1);
  padding-top: 1em;

}

button {
  text-align: center;
  color: var(--Pale-Blue);
  background-color: var(--Dark-Desaturated-Blue);
  font-family: inherit;
  padding: .7em 2.5em;
  border-radius: 30px;
  border: none;
  margin: 0;

}

button:hover {
color:var(--White);
cursor: pointer;

}

.pricetag {
  font-size: 2rem;
  font-weight: 800;

}

.lineunderslider {
  text-align: right;
  margin-bottom: 2em;
  font-size: .75rem;

}

ul {
  font-size: .75rem;
}

.lineunderslider span {

  padding-left: .8em;
}

ul {
  line-height: 2em;
  list-style-image: url(images/icon-check.svg);
}



/* Below is the toggle switch taken from W3school:*/


.switch {
  position: relative;
  display: inline-block;
  width: 30px;
  height: 17px;
}

.switch input[type="checkbox"] {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 13px;
  width: 13px;
  left: 2px;
  bottom: 2px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input[type="checkbox"]:checked+.slider {
  background-color: var(--Strong-Cyan);
}

input[type="checkbox"]:focus+.slider {
  box-shadow: 0 0 1px var(--Strong-Cyan);
}

input[type="checkbox"]:checked+.slider:before {
  -webkit-transform: translateX(13px);
  -ms-transform: translateX(13px);
  transform: translateX(13px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}



@media only screen and (max-width:500px) {

.top {
  flex-direction: column;
}

.header {

  top: 3em;
}

.headerimage {
  top: 2em;
}
.container {
  top:14em;
}


body,html {
  padding: 1em;

}

h1 {

  font-size: 1.3rem;
}

.pageviews {

  margin-bottom: 1em;
}

.mainslider {

  margin-bottom: 3em;
}

.discount {

  display: none;
}

.discountmobile {
  display: inline-block;
  border-radius: 8px;
  text-align: center;  
  padding: .15em .75em;
  margin-left: .5em;
  color: hsl(15, 100%, 70%);
  background-color: hsl(14, 92%, 95%);
  font-size: .6rem;

}


.bottom {

  flex-direction: column;
  align-items: center;
  justify-content: center;
}

ul {
  text-align: center;
  list-style-position: inside;
  padding-left: 0;
  margin-bottom: 2em;
}

.intparagraph {

font-size: .75em;

}

.nextline {
  display: block;
  margin-top: .5em;
}
  
}